# Ignore bundler config
/.bundle

# Ignore environment files (except templates)
.env
/.env*
!/.env*.erb

# Ignore logs and temp files
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore storage (uploaded files in development and any SQLite databases)
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

# Ignore node_modules
/node_modules

# Keep assets/builds in Git, ignore everything else in builds (optional: hidden files)
/public/assets
/app/assets/builds/.keep
!/app/assets/builds/*
