<% flash.each do |key, message| %>
  <div class="alert <%= "alert-success" if key == "notice" %> <%= "alert-danger" if key == "alert" %> alert-dismissible fade show" role="alert">
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
